button{
    padding: 0px;
    margin-left: 1em;
    margin-right: 1em;
    display: flexbox;
    height: 2em;
    width: 400px;
}
 h1{
     background-color: darkkhaki;
 }


 .card-group:hover{
     background-color: whitesmoke;
 }